In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math
import seaborn as sb
sb.set()

## order_df

from 'olist_orders_dataset.csv'

In [2]:
order_csv = pd.read_csv('olist_orders_dataset.csv')
order_csv = order_csv.drop(columns=['order_status','order_approved_at', 'order_delivered_carrier_date'])
order_csv

,order_id,customer_id,order_purchase_timestamp,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2/10/2017 10:56,10/10/2017 21:25,18/10/2017 0:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,24/7/2018 20:41,7/8/2018 15:27,13/8/2018 0:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,8/8/2018 8:38,17/8/2018 18:06,4/9/2018 0:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,18/11/2017 19:28,2/12/2017 0:28,15/12/2017 0:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,13/2/2018 21:18,16/2/2018 18:17,26/2/2018 0:00
...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,9/3/2017 9:54,17/3/2017 15:08,28/3/2017 0:00
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,6/2/2018 12:58,28/2/2018 17:37,2/3/2018 0:00
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,27/8/2017 14:46,21/9/2017 11:24,27/9/2017 0:00
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,8/1/2018 21:28,25/1/2018 23:32,15/2/2018 0:00
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,8/3/2018 20:57,16/3/2018 13:08,3/4/2018 0:00

In [3]:
order_csv['order_time'] = pd.to_datetime(order_csv['order_purchase_timestamp'], format = '%d/%m/%Y %H:%M')
order_csv['actual_delivery_time'] = pd.to_datetime(order_csv['order_delivered_customer_date'], format = '%d/%m/%Y %H:%M')
order_csv['estimated_delivery_time'] = pd.to_datetime(order_csv['order_estimated_delivery_date'], format = '%d/%m/%Y %H:%M')
order_csv = order_csv.drop(columns = ['order_purchase_timestamp', 'order_delivered_customer_date', 'order_estimated_delivery_date'])
order_csv

,order_id,customer_id,order_time,actual_delivery_time,estimated_delivery_time
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:00,2017-10-10 21:25:00,2017-10-18
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,2018-07-24 20:41:00,2018-08-07 15:27:00,2018-08-13
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,2018-08-08 08:38:00,2018-08-17 18:06:00,2018-09-04
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,2017-11-18 19:28:00,2017-12-02 00:28:00,2017-12-15
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,2018-02-13 21:18:00,2018-02-16 18:17:00,2018-02-26
...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,2017-03-09 09:54:00,2017-03-17 15:08:00,2017-03-28
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,2018-02-06 12:58:00,2018-02-28 17:37:00,2018-03-02
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,2017-08-27 14:46:00,2017-09-21 11:24:00,2017-09-27
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,2018-01-08 21:28:00,2018-01-25 23:32:00,2018-02-15
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,2018-03-08 20:57:00,2018-03-16 13:08:00,2018-04-03

In [4]:
order_csv['actual'] = pd.DataFrame(order_csv['actual_delivery_time'].sub(order_csv['order_time'], axis=0))
order_csv['estimated'] = pd.DataFrame(order_csv['estimated_delivery_time'].sub(order_csv['order_time'], axis=0))
order_csv['actual_hours'] = pd.DataFrame(order_csv['actual'].astype('timedelta64[h]'))
order_csv['delivery_days'] = pd.DataFrame(order_csv['actual'].astype('timedelta64[D]'))
order_csv['estimated'] = pd.DataFrame(order_csv['estimated'].astype('timedelta64[h]'))
order_csv['time_diff'] = pd.DataFrame(order_csv['estimated'].sub(order_csv['actual_hours'], axis=0))

for index, row in order_csv.iterrows():
    order_csv.at[index, 'PurchasedYear'] = row["order_time"].year
order_csv['PurchasedYear'] = order_csv['PurchasedYear'].astype('int64')

order_csv

,order_id,customer_id,order_time,actual_delivery_time,estimated_delivery_time,actual,estimated,actual_hours,delivery_days,time_diff,PurchasedYear
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:00,2017-10-10 21:25:00,2017-10-18,8 days 10:29:00,373.0,202.0,8.0,171.0,2017
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,2018-07-24 20:41:00,2018-08-07 15:27:00,2018-08-13,13 days 18:46:00,459.0,330.0,13.0,129.0,2018
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,2018-08-08 08:38:00,2018-08-17 18:06:00,2018-09-04,9 days 09:28:00,639.0,225.0,9.0,414.0,2018
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,2017-11-18 19:28:00,2017-12-02 00:28:00,2017-12-15,13 days 05:00:00,628.0,317.0,13.0,311.0,2017
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,2018-02-13 21:18:00,2018-02-16 18:17:00,2018-02-26,2 days 20:59:00,290.0,68.0,2.0,222.0,2018
...,...,...,...,...,...,...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,2017-03-09 09:54:00,2017-03-17 15:08:00,2017-03-28,8 days 05:14:00,446.0,197.0,8.0,249.0,2017
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,2018-02-06 12:58:00,2018-02-28 17:37:00,2018-03-02,22 days 04:39:00,563.0,532.0,22.0,31.0,2018
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,2017-08-27 14:46:00,2017-09-21 11:24:00,2017-09-27,24 days 20:38:00,729.0,596.0,24.0,133.0,2017
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,2018-01-08 21:28:00,2018-01-25 23:32:00,2018-02-15,17 days 02:04:00,890.0,410.0,17.0,480.0,2018
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,2018-03-08 20:57:00,2018-03-16 13:08:00,2018-04-03,7 days 16:11:00,603.0,184.0,7.0,419.0,2018

## customer_df

from 'olist_customers_dataset.csv'

In [5]:
customer_df = pd.read_csv('olist_customers_dataset.csv')
customer_df

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP
...,...,...,...,...,...
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937,sao paulo,SP
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,6764,taboao da serra,SP
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS
99440,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,cotia,SP

## products_df 

#### df contains translated product category names

from 'olist_products_dataset.csv' and 'product_category_name_translation.csv'

In [6]:
products_dataset = pd.read_csv('olist_products_dataset.csv')
products_dataset = products_dataset.drop(columns=['product_name_lenght', 'product_weight_g',
                                                   'product_length_cm', 'product_height_cm', 'product_width_cm'])
products_dataset

,product_id,product_category_name,product_description_lenght,product_photos_qty
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,287.0,1.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,276.0,1.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,250.0,1.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,261.0,1.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,402.0,4.0
...,...,...,...,...
32946,a0b7d5a992ccda646f2d34e418fff5a0,moveis_decoracao,67.0,2.0
32947,bf4538d88321d0fd4412a93c974510e6,construcao_ferramentas_iluminacao,971.0,1.0
32948,9a7c6041fa9592d9d9ef6cfe62a71f8c,cama_mesa_banho,799.0,1.0
32949,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,156.0,2.0
32950,106392145fca363410d287a815be6de4,cama_mesa_banho,309.0,1.0

In [7]:
catname_translation = pd.read_csv('product_category_name_translation.csv')
products_df = pd.merge(products_dataset, catname_translation, how = "left", on = "product_category_name")
products_df = products_df.drop(columns = ['product_category_name'])
column_title = ['product_id','product_category_name_english','product_description_lenght','product_photos_qty']
products_df = products_df.reindex(columns = column_title)
products_df

,product_id,product_category_name_english,product_description_lenght,product_photos_qty
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumery,287.0,1.0
1,3aa071139cb16b67ca9e5dea641aaa2f,art,276.0,1.0
2,96bd76ec8810374ed1b65e291975717f,sports_leisure,250.0,1.0
3,cef67bcfe19066a932b7673e239eb23d,baby,261.0,1.0
4,9dc1a7de274444849c219cff195d0b71,housewares,402.0,4.0
...,...,...,...,...
32946,a0b7d5a992ccda646f2d34e418fff5a0,furniture_decor,67.0,2.0
32947,bf4538d88321d0fd4412a93c974510e6,construction_tools_lights,971.0,1.0
32948,9a7c6041fa9592d9d9ef6cfe62a71f8c,bed_bath_table,799.0,1.0
32949,83808703fc0706a22e264b9d75f04a2e,computers_accessories,156.0,2.0
32950,106392145fca363410d287a815be6de4,bed_bath_table,309.0,1.0

## order_items_df

from 'olist_order_items_dataset.csv'

In [8]:
order_items_df = pd.read_csv('olist_order_items_dataset.csv')
order_items_df = order_items_df.drop(columns=['order_item_id','shipping_limit_date', 'seller_id'])
order_items_df

,order_id,product_id,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,4244733e06e7ecb4970a6e2683c13e61,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,e5f2d52b802189ee658865ca93d83a8f,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,c777355d18b72b67abbeef9df44fd0fd,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,7634da152a4610f1595efa32f14722fc,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,ac6c3623068f30de03045865e4e10089,199.90,18.14
...,...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,4aa6014eceb682077f9dc4bffebc05b0,299.99,43.41
112646,fffcd46ef2263f404302a634eb57f7eb,32e07fd915822b0765e448c4dd74c828,350.00,36.53
112647,fffce4705a9662cd70adb13d4a31832d,72a30483855e2eafc67aee5dc2560482,99.90,16.95
112648,fffe18544ffabc95dfada21779c9644f,9c422a519119dcad7575db5af1ba540e,55.99,8.72
112649,fffe41c64501cc87c801fd61db3f6244,350688d9dc1e75ff97be326363655e01,43.00,12.79

## payment_df

from 'olist_order_payments_dataset.csv'

In [9]:
payment_df = pd.read_csv('olist_order_payments_dataset.csv')
payment_df

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45
...,...,...,...,...,...
103881,0406037ad97740d563a178ecc7a2075c,1,boleto,1,363.31
103882,7b905861d7c825891d6347454ea7863f,1,credit_card,2,96.80
103883,32609bbb3dd69b3c066a6860554a77bf,1,credit_card,1,47.77
103884,b8b61059626efa996a60be9bb9320e10,1,credit_card,5,369.54
103885,28bbae6599b09d39ca406b747b6632b1,1,boleto,1,191.58

In [10]:
payment_df2 = payment_df.groupby(['order_id'],as_index = False).agg({'payment_type':'first','payment_value' : 'sum', 'payment_installments' : 'max'})
payment_df2 = payment_df2[payment_df2.payment_type != 'not_defined']
payment_df2

,order_id,payment_type,payment_value,payment_installments
0,00010242fe8c5a6d1ba2dd792cb16214,credit_card,72.19,2
1,00018f77f2f0320c557190d7a144bdd3,credit_card,259.83,3
2,000229ec398224ef6ca0657da4fc703e,credit_card,216.87,5
3,00024acbcdf0a6daa1e931b038114c75,credit_card,25.78,2
4,00042b26cf59d7ce69dfabb4e55b4fd9,credit_card,218.04,3
...,...,...,...,...
99435,fffc94f6ce00a00581880bf54a75a037,boleto,343.40,1
99436,fffcd46ef2263f404302a634eb57f7eb,boleto,386.53,1
99437,fffce4705a9662cd70adb13d4a31832d,credit_card,116.85,3
99438,fffe18544ffabc95dfada21779c9644f,credit_card,64.71,3
99439,fffe41c64501cc87c801fd61db3f6244,credit_card,55.79,1

## review_df

In [11]:
review_df = pd.read_csv('olist_order_reviews_dataset.csv')
review_df.head()

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,18/1/2018 0:00,18/1/2018 21:46
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,10/3/2018 0:00,11/3/2018 3:05
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,17/2/2018 0:00,18/2/2018 14:36
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,21/4/2017 0:00,21/4/2017 22:02
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,ParabÃ©ns lojas lannister adorei comprar pela I...,1/3/2018 0:00,2/3/2018 10:26

In [12]:
review_df = review_df.drop(columns = ['review_id', 'review_comment_title', 'review_comment_message', 'review_creation_date', 'review_answer_timestamp'])

## Merging products_df with order_items_df

Just to add category names and photo quantity into order_items_df

In [13]:
product_order_df = pd.merge(order_items_df, products_df, how = "left", on = "product_id")
product_order_df

,order_id,product_id,price,freight_value,product_category_name_english,product_description_lenght,product_photos_qty
0,00010242fe8c5a6d1ba2dd792cb16214,4244733e06e7ecb4970a6e2683c13e61,58.90,13.29,cool_stuff,598.0,4.0
1,00018f77f2f0320c557190d7a144bdd3,e5f2d52b802189ee658865ca93d83a8f,239.90,19.93,pet_shop,239.0,2.0
2,000229ec398224ef6ca0657da4fc703e,c777355d18b72b67abbeef9df44fd0fd,199.00,17.87,furniture_decor,695.0,2.0
3,00024acbcdf0a6daa1e931b038114c75,7634da152a4610f1595efa32f14722fc,12.99,12.79,perfumery,480.0,1.0
4,00042b26cf59d7ce69dfabb4e55b4fd9,ac6c3623068f30de03045865e4e10089,199.90,18.14,garden_tools,409.0,1.0
...,...,...,...,...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,4aa6014eceb682077f9dc4bffebc05b0,299.99,43.41,housewares,1002.0,3.0
112646,fffcd46ef2263f404302a634eb57f7eb,32e07fd915822b0765e448c4dd74c828,350.00,36.53,computers_accessories,232.0,1.0
112647,fffce4705a9662cd70adb13d4a31832d,72a30483855e2eafc67aee5dc2560482,99.90,16.95,sports_leisure,869.0,1.0
112648,fffe18544ffabc95dfada21779c9644f,9c422a519119dcad7575db5af1ba540e,55.99,8.72,computers_accessories,1306.0,1.0
112649,fffe41c64501cc87c801fd61db3f6244,350688d9dc1e75ff97be326363655e01,43.00,12.79,bed_bath_table,511.0,1.0

## Merging customer_df with order_csv

In [14]:
order_csv2 = pd.merge(order_csv,customer_df,how="left",on="customer_id")
order_csv2

,order_id,customer_id,order_time,actual_delivery_time,estimated_delivery_time,actual,estimated,actual_hours,delivery_days,time_diff,PurchasedYear,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:00,2017-10-10 21:25:00,2017-10-18,8 days 10:29:00,373.0,202.0,8.0,171.0,2017,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,2018-07-24 20:41:00,2018-08-07 15:27:00,2018-08-13,13 days 18:46:00,459.0,330.0,13.0,129.0,2018,af07308b275d755c9edb36a90c618231,47813,barreiras,BA
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,2018-08-08 08:38:00,2018-08-17 18:06:00,2018-09-04,9 days 09:28:00,639.0,225.0,9.0,414.0,2018,3a653a41f6f9fc3d2a113cf8398680e8,75265,vianopolis,GO
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,2017-11-18 19:28:00,2017-12-02 00:28:00,2017-12-15,13 days 05:00:00,628.0,317.0,13.0,311.0,2017,7c142cf63193a1473d2e66489a9ae977,59296,sao goncalo do amarante,RN
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,2018-02-13 21:18:00,2018-02-16 18:17:00,2018-02-26,2 days 20:59:00,290.0,68.0,2.0,222.0,2018,72632f0f9dd73dfee390c9b22eb56dd6,9195,santo andre,SP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,2017-03-09 09:54:00,2017-03-17 15:08:00,2017-03-28,8 days 05:14:00,446.0,197.0,8.0,249.0,2017,6359f309b166b0196dbf7ad2ac62bb5a,12209,sao jose dos campos,SP
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,2018-02-06 12:58:00,2018-02-28 17:37:00,2018-03-02,22 days 04:39:00,563.0,532.0,22.0,31.0,2018,da62f9e57a76d978d02ab5362c509660,11722,praia grande,SP
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,2017-08-27 14:46:00,2017-09-21 11:24:00,2017-09-27,24 days 20:38:00,729.0,596.0,24.0,133.0,2017,737520a9aad80b3fbbdad19b66b37b30,45920,nova vicosa,BA
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,2018-01-08 21:28:00,2018-01-25 23:32:00,2018-02-15,17 days 02:04:00,890.0,410.0,17.0,480.0,2018,5097a5312c8b157bb7be58ae360ef43c,28685,japuiba,RJ
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,2018-03-08 20:57:00,2018-03-16 13:08:00,2018-04-03,7 days 16:11:00,603.0,184.0,7.0,419.0,2018,60350aa974b26ff12caad89e55993bd6,83750,lapa,PR

## Merging payment_df2 with order_csv

In [15]:
df = pd.merge(order_csv2,payment_df2,how="left",on="order_id")
df

,order_id,customer_id,order_time,actual_delivery_time,estimated_delivery_time,actual,estimated,actual_hours,delivery_days,time_diff,PurchasedYear,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,payment_type,payment_value,payment_installments
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:00,2017-10-10 21:25:00,2017-10-18,8 days 10:29:00,373.0,202.0,8.0,171.0,2017,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,credit_card,38.71,1.0
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,2018-07-24 20:41:00,2018-08-07 15:27:00,2018-08-13,13 days 18:46:00,459.0,330.0,13.0,129.0,2018,af07308b275d755c9edb36a90c618231,47813,barreiras,BA,boleto,141.46,1.0
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,2018-08-08 08:38:00,2018-08-17 18:06:00,2018-09-04,9 days 09:28:00,639.0,225.0,9.0,414.0,2018,3a653a41f6f9fc3d2a113cf8398680e8,75265,vianopolis,GO,credit_card,179.12,3.0
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,2017-11-18 19:28:00,2017-12-02 00:28:00,2017-12-15,13 days 05:00:00,628.0,317.0,13.0,311.0,2017,7c142cf63193a1473d2e66489a9ae977,59296,sao goncalo do amarante,RN,credit_card,72.20,1.0
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,2018-02-13 21:18:00,2018-02-16 18:17:00,2018-02-26,2 days 20:59:00,290.0,68.0,2.0,222.0,2018,72632f0f9dd73dfee390c9b22eb56dd6,9195,santo andre,SP,credit_card,28.62,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,2017-03-09 09:54:00,2017-03-17 15:08:00,2017-03-28,8 days 05:14:00,446.0,197.0,8.0,249.0,2017,6359f309b166b0196dbf7ad2ac62bb5a,12209,sao jose dos campos,SP,credit_card,85.08,3.0
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,2018-02-06 12:58:00,2018-02-28 17:37:00,2018-03-02,22 days 04:39:00,563.0,532.0,22.0,31.0,2018,da62f9e57a76d978d02ab5362c509660,11722,praia grande,SP,credit_card,195.00,3.0
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,2017-08-27 14:46:00,2017-09-21 11:24:00,2017-09-27,24 days 20:38:00,729.0,596.0,24.0,133.0,2017,737520a9aad80b3fbbdad19b66b37b30,45920,nova vicosa,BA,credit_card,271.01,5.0
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,2018-01-08 21:28:00,2018-01-25 23:32:00,2018-02-15,17 days 02:04:00,890.0,410.0,17.0,480.0,2018,5097a5312c8b157bb7be58ae360ef43c,28685,japuiba,RJ,credit_card,441.16,4.0
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,2018-03-08 20:57:00,2018-03-16 13:08:00,2018-04-03,7 days 16:11:00,603.0,184.0,7.0,419.0,2018,60350aa974b26ff12caad89e55993bd6,83750,lapa,PR,debit_card,86.86,1.0

## Getting the cleaned df with review_df

In [16]:
final_df = pd.merge(product_order_df,df,how="left",on="order_id")
final_df

,order_id,product_id,price,freight_value,product_category_name_english,product_description_lenght,product_photos_qty,customer_id,order_time,actual_delivery_time,...,delivery_days,time_diff,PurchasedYear,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,payment_type,payment_value,payment_installments
0,00010242fe8c5a6d1ba2dd792cb16214,4244733e06e7ecb4970a6e2683c13e61,58.90,13.29,cool_stuff,598.0,4.0,3ce436f183e68e07877b285a838db11a,2017-09-13 08:59:00,2017-09-20 23:43:00,...,7.0,193.0,2017,871766c5855e863f6eccc05f988b23cb,28013,campos dos goytacazes,RJ,credit_card,72.19,2.0
1,00018f77f2f0320c557190d7a144bdd3,e5f2d52b802189ee658865ca93d83a8f,239.90,19.93,pet_shop,239.0,2.0,f6dd3ec061db4e3987629fe6b26e5cce,2017-04-26 10:53:00,2017-05-12 16:04:00,...,16.0,56.0,2017,eb28e67c4c0b83846050ddfb8a35d051,15775,santa fe do sul,SP,credit_card,259.83,3.0
2,000229ec398224ef6ca0657da4fc703e,c777355d18b72b67abbeef9df44fd0fd,199.00,17.87,furniture_decor,695.0,2.0,6489ae5e4333f3693df5ad4372dab6d3,2018-01-14 14:33:00,2018-01-22 13:19:00,...,7.0,323.0,2018,3818d81c6709e39d06b2738a8d3a2474,35661,para de minas,MG,credit_card,216.87,5.0
3,00024acbcdf0a6daa1e931b038114c75,7634da152a4610f1595efa32f14722fc,12.99,12.79,perfumery,480.0,1.0,d4eb9395c8c0431ee92fce09860c5a06,2018-08-08 10:00:00,2018-08-14 13:32:00,...,6.0,131.0,2018,af861d436cfc08b2c2ddefd0ba074622,12952,atibaia,SP,credit_card,25.78,2.0
4,00042b26cf59d7ce69dfabb4e55b4fd9,ac6c3623068f30de03045865e4e10089,199.90,18.14,garden_tools,409.0,1.0,58dbd0b2d70206bf40e62cd34e84d795,2017-02-04 13:57:00,2017-03-01 16:42:00,...,25.0,368.0,2017,64b576fb70d441e8f1b2d7d446e483c5,13226,varzea paulista,SP,credit_card,218.04,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,4aa6014eceb682077f9dc4bffebc05b0,299.99,43.41,housewares,1002.0,3.0,b51593916b4b8e0d6f66f2ae24f2673d,2018-04-23 13:57:00,2018-05-10 22:56:00,...,17.0,170.0,2018,0c9aeda10a71f369396d0c04dce13a64,65077,sao luis,MA,boleto,343.40,1.0
112646,fffcd46ef2263f404302a634eb57f7eb,32e07fd915822b0765e448c4dd74c828,350.00,36.53,computers_accessories,232.0,1.0,84c5d4fbaf120aae381fad077416eaa0,2018-07-14 10:26:00,2018-07-23 20:31:00,...,9.0,195.0,2018,0da9fe112eae0c74d3ba1fe16de0988b,81690,curitiba,PR,boleto,386.53,1.0
112647,fffce4705a9662cd70adb13d4a31832d,72a30483855e2eafc67aee5dc2560482,99.90,16.95,sports_leisure,869.0,1.0,29309aa813182aaddc9b259e31b870e6,2017-10-23 17:07:00,2017-10-28 12:22:00,...,4.0,299.0,2017,cd79b407828f02fdbba457111c38e4c4,4039,sao paulo,SP,credit_card,116.85,3.0
112648,fffe18544ffabc95dfada21779c9644f,9c422a519119dcad7575db5af1ba540e,55.99,8.72,computers_accessories,1306.0,1.0,b5e6afd5a41800fdf401e0272ca74655,2017-08-14 23:02:00,2017-08-16 21:59:00,...,1.0,194.0,2017,eb803377c9315b564bdedad672039306,13289,vinhedo,SP,credit_card,64.71,3.0
112649,fffe41c64501cc87c801fd61db3f6244,350688d9dc1e75ff97be326363655e01,43.00,12.79,bed_bath_table,511.0,1.0,96d649da0cc4ff33bb408b199d4c7dcf,2018-06-09 17:00:00,2018-06-14 17:56:00,...,5.0,319.0,2018,cd76a00d8e3ca5e6ab9ed9ecb6667ac4,18605,botucatu,SP,credit_card,55.79,1.0

In [17]:
final_df2 = pd.merge(final_df, review_df, how='left', on = 'order_id')
final_df2.head()

,order_id,product_id,price,freight_value,product_category_name_english,product_description_lenght,product_photos_qty,customer_id,order_time,actual_delivery_time,...,time_diff,PurchasedYear,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,payment_type,payment_value,payment_installments,review_score
0,00010242fe8c5a6d1ba2dd792cb16214,4244733e06e7ecb4970a6e2683c13e61,58.90,13.29,cool_stuff,598.0,4.0,3ce436f183e68e07877b285a838db11a,2017-09-13 08:59:00,2017-09-20 23:43:00,...,193.0,2017,871766c5855e863f6eccc05f988b23cb,28013,campos dos goytacazes,RJ,credit_card,72.19,2.0,5
1,00018f77f2f0320c557190d7a144bdd3,e5f2d52b802189ee658865ca93d83a8f,239.90,19.93,pet_shop,239.0,2.0,f6dd3ec061db4e3987629fe6b26e5cce,2017-04-26 10:53:00,2017-05-12 16:04:00,...,56.0,2017,eb28e67c4c0b83846050ddfb8a35d051,15775,santa fe do sul,SP,credit_card,259.83,3.0,4
2,000229ec398224ef6ca0657da4fc703e,c777355d18b72b67abbeef9df44fd0fd,199.00,17.87,furniture_decor,695.0,2.0,6489ae5e4333f3693df5ad4372dab6d3,2018-01-14 14:33:00,2018-01-22 13:19:00,...,323.0,2018,3818d81c6709e39d06b2738a8d3a2474,35661,para de minas,MG,credit_card,216.87,5.0,5
3,00024acbcdf0a6daa1e931b038114c75,7634da152a4610f1595efa32f14722fc,12.99,12.79,perfumery,480.0,1.0,d4eb9395c8c0431ee92fce09860c5a06,2018-08-08 10:00:00,2018-08-14 13:32:00,...,131.0,2018,af861d436cfc08b2c2ddefd0ba074622,12952,atibaia,SP,credit_card,25.78,2.0,4
4,00042b26cf59d7ce69dfabb4e55b4fd9,ac6c3623068f30de03045865e4e10089,199.90,18.14,garden_tools,409.0,1.0,58dbd0b2d70206bf40e62cd34e84d795,2017-02-04 13:57:00,2017-03-01 16:42:00,...,368.0,2017,64b576fb70d441e8f1b2d7d446e483c5,13226,varzea paulista,SP,credit_card,218.04,3.0,5

In [20]:
clean_df = final_df2.drop(columns=['order_time',
       'actual_delivery_time', 'estimated_delivery_time',])
title = ['order_id', 'product_id', 'customer_id', 'customer_unique_id', 'product_category_name_english', 'product_description_lenght', 'product_photos_qty','actual_hours','delivery_days',
       'estimated', 'time_diff','price', 'freight_value','payment_type', 'payment_value',
       'payment_installments','PurchasedYear', 'review_score']
clean_df = clean_df.reindex(columns = title)
clean_df = clean_df.rename(columns={"product_description_lenght" : "product_description_length"})

In [21]:
clean_df

,order_id,product_id,customer_id,customer_unique_id,product_category_name_english,product_description_length,product_photos_qty,actual_hours,delivery_days,estimated,time_diff,price,freight_value,payment_type,payment_value,payment_installments,PurchasedYear,review_score
0,00010242fe8c5a6d1ba2dd792cb16214,4244733e06e7ecb4970a6e2683c13e61,3ce436f183e68e07877b285a838db11a,871766c5855e863f6eccc05f988b23cb,cool_stuff,598.0,4.0,182.0,7.0,375.0,193.0,58.90,13.29,credit_card,72.19,2.0,2017,5
1,00018f77f2f0320c557190d7a144bdd3,e5f2d52b802189ee658865ca93d83a8f,f6dd3ec061db4e3987629fe6b26e5cce,eb28e67c4c0b83846050ddfb8a35d051,pet_shop,239.0,2.0,389.0,16.0,445.0,56.0,239.90,19.93,credit_card,259.83,3.0,2017,4
2,000229ec398224ef6ca0657da4fc703e,c777355d18b72b67abbeef9df44fd0fd,6489ae5e4333f3693df5ad4372dab6d3,3818d81c6709e39d06b2738a8d3a2474,furniture_decor,695.0,2.0,190.0,7.0,513.0,323.0,199.00,17.87,credit_card,216.87,5.0,2018,5
3,00024acbcdf0a6daa1e931b038114c75,7634da152a4610f1595efa32f14722fc,d4eb9395c8c0431ee92fce09860c5a06,af861d436cfc08b2c2ddefd0ba074622,perfumery,480.0,1.0,147.0,6.0,278.0,131.0,12.99,12.79,credit_card,25.78,2.0,2018,4
4,00042b26cf59d7ce69dfabb4e55b4fd9,ac6c3623068f30de03045865e4e10089,58dbd0b2d70206bf40e62cd34e84d795,64b576fb70d441e8f1b2d7d446e483c5,garden_tools,409.0,1.0,602.0,25.0,970.0,368.0,199.90,18.14,credit_card,218.04,3.0,2017,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113317,fffc94f6ce00a00581880bf54a75a037,4aa6014eceb682077f9dc4bffebc05b0,b51593916b4b8e0d6f66f2ae24f2673d,0c9aeda10a71f369396d0c04dce13a64,housewares,1002.0,3.0,416.0,17.0,586.0,170.0,299.99,43.41,boleto,343.40,1.0,2018,5
113318,fffcd46ef2263f404302a634eb57f7eb,32e07fd915822b0765e448c4dd74c828,84c5d4fbaf120aae381fad077416eaa0,0da9fe112eae0c74d3ba1fe16de0988b,computers_accessories,232.0,1.0,226.0,9.0,421.0,195.0,350.00,36.53,boleto,386.53,1.0,2018,5
113319,fffce4705a9662cd70adb13d4a31832d,72a30483855e2eafc67aee5dc2560482,29309aa813182aaddc9b259e31b870e6,cd79b407828f02fdbba457111c38e4c4,sports_leisure,869.0,1.0,115.0,4.0,414.0,299.0,99.90,16.95,credit_card,116.85,3.0,2017,5
113320,fffe18544ffabc95dfada21779c9644f,9c422a519119dcad7575db5af1ba540e,b5e6afd5a41800fdf401e0272ca74655,eb803377c9315b564bdedad672039306,computers_accessories,1306.0,1.0,46.0,1.0,240.0,194.0,55.99,8.72,credit_card,64.71,3.0,2017,5
113321,fffe41c64501cc87c801fd61db3f6244,350688d9dc1e75ff97be326363655e01,96d649da0cc4ff33bb408b199d4c7dcf,cd76a00d8e3ca5e6ab9ed9ecb6667ac4,bed_bath_table,511.0,1.0,120.0,5.0,439.0,319.0,43.00,12.79,credit_card,55.79,1.0,2018,5